@tailwind base;
@tailwind components;
@tailwind utilities;

.stroke-title {
  /* font-size: 70px; */
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
